<%= turbo_frame_tag 'new_post' do %>
  <%= form_with model:[current_user, post],data: { action: "turbo:submit-end->" } do |form| %>
    <p>

      <%= form.label :image %><span style="color: red">*</span>
      <%= form.file_field :image %>
      <%= render "shared/error_messages", resource: post, attribute: :image %>

      <%= form.label :caption %><br>
      <%= form.text_area :caption %>
      <%= render "shared/error_messages", resource: post, attribute: :caption%>

    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% end %>