<%= turbo_frame_tag 'new_post' do %>
  <%= form_with model:[current_user, post],data: { action: "turbo:submit-end->" } do |form| %>
    <p>
      <%= form.label :image %><span style="color: red">*</span>
      <%= form.file_field :image %>
      <%= form.label :caption %><br>
      <%= form.text_area :caption %>
      <% post.errors.full_messages_for(:caption).each do |message| %>
        <div style="color: red"><%= message %></div>
      <% end %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% end %>