<%= turbo_frame_tag 'new_post' do %>
  <%= form_with model:[current_user, post],data: { action: "turbo:submit-end->" } do |form| %>

    <div>
      <%= form.label :image %><span style="color: red">*</span><br>
      <%= form.file_field :image %>
      <%= render "shared/error_messages", resource: post, attribute: :image %>
    </div>

    <div>
      <%= form.label :caption %><span style="color: red">*</span><br>
      <%= form.text_area :caption %>
      <%= render "shared/error_messages", resource: post, attribute: :caption%>
    </div>

    <div>
      <%= form.submit %>
    </div>

  <% end %>
<% end %>