<% if @user == current_user %>
  <%= link_to '新規投稿', new_user_post_path(current_user) %>
<% else %>
  <h1><%= @user.full_name %>さんの投稿</h1>
<% end %>

<div style="display: flex; justify-content: space-around">

  <div>
    <h2>Posts</h2>
    <%= turbo_frame_tag "posts" do %>
      <%= page_entries_info @posts, entry_name: '投稿' %>
      <%= render partial: "shared/post", collection: @posts %>
      <%= paginate @posts, param_name: :posts %>
    <% end %>
  </div>

  <div>
    <h2>Likes</h2>
    <%= turbo_frame_tag "likes_posts" do %>
      <%= page_entries_info @likes_posts, entry_name: 'いいねをした投稿' %>
      <%= render partial: "shared/post", collection: @likes_posts %>
      <%= paginate @likes_posts, param_name: :likes_posts %>
    <% end %>
  </div>

</div>