<h1><%= @user.full_name %>のページ</h1>
<dl>
  <dt>氏名</dt>
  <dd><%= @user.full_name_kana %></dd>
  <dd><%= @user.full_name %></dd>
</dl>
<dl>
  <dt>メールアドレス</dt>
  <dd><%= @user.email %></dd>
</dl>
<dl>
  <dt>所属部署</dt>
  <dd>
    <ul>
      <% @user.departments.each do |department| %>
        <li>
          <%= link_to department do %>
            <%= department.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </dd>
</dl>
<dl>
  <dt>入社日</dt>
  <dd><%= @user.joined_on ? l(@user.joined_on) : "未登録"  %></dd>
</dl>
<dl>
  <dt>生年月日</dt>
  <dd><%= @user.born_on ? l(@user.born_on) : "未登録" %></dd>
</dl>
<dl>
  <dt>出身地</dt>
  <dd><%= @user.prefecture&.name %> <%= @user.birthplace_detail %></dd>
</dl>
<dl>
  <dt>ニックネーム</dt>
  <dd><%= @user.nickname %></dd>
</dl>
<dl>
  <dt>特技</dt>
  <dd><%= @user.special_skill %></dd>
</dl>
<dl>
  <dt>趣味</dt>
  <dd><%= @user.pastime %></dd>
</dl>
<dl>
  <dt>座右の銘</dt>
  <dd><%= @user.motto %></dd>
  <dd><%= @user.motto_description %></dd>
</dl>
<dl>
  <dt>自己紹介</dt>
  <dd><%= @user.self_introduction %></dd>
</dl>


<h2>投稿</h2>
<p><%= @posts_size %> 件の投稿があります。</p>
<%= render @user.posts.order(created_at: :desc) %>

<% if @user == current_user %>
  <h2>新規投稿</h2>
  <%= render 'posts/form' %>
<% end %>