<%= turbo_frame_tag post do %>
  <div style="border: 1px solid black">
    <%= link_to post do %>
      <% if post.image.attached? %>
        <%= image_tag post.image.variant(:thumb) %>
      <% end %>
      <p><%= post.caption %></p>
    <% end %>

    <%= turbo_frame_tag "like_#{post.id}" do %>
      <%= render "likes/toggle", post: post %>
    <% end %>

    <br>
    <small>投稿日時: <%= l(post.created_at, format: :long) %></small>

    <% if post.user == current_user %>
      <small>
        <%= link_to "投稿の削除", [post.user, post], data: {
            turbo_method: :delete,
            turbo_confirm: "本当に削除してよろしいですか？"
        } %>
      </small>
    <% else %>
      <small>by <%= link_to post.user.full_name, post.user %></small>
    <% end %>
  </div>
<% end %>