<h1>部署 詳細</h1>

<%# TODO: 部署のリーダーや権限があるユーザーにしか表示させないようにする %>
<%= link_to "編集", edit_department_path %>
<%= link_to "削除", department_path(@department), data: {
                turbo_method: :delete,
                turbo_confirm: "本当に削除してよろしいですか？"
} %>
<%= link_to "メンバーの追加", edit_users_department_path(department_id: @department) %>
<div style="border: 1px solid black">
  <p>
    <strong>部署名:</strong>
    <%= @department.name %>
  </p>
  <dl>
    <dt>説明:</dt>
    <dd><%= @department.description %></dd>
  </dl>
</div>

<h2>所属者</h2><span><%= @department.users.size %>名</span>
<ul>
  <% @department.users.each do |user| %>

    <%= render user %>

    <%# TODO: 部署のリーダーや権限があるユーザーにしか表示させないようにする %>
    <%= link_to "削除",
          users_department_path(department_id: @department, user_id: user),
            data: { turbo_method: :delete,
                    turbo_confirm: "本当に削除してよろしいですか？"} %>
  <% end %>
</ul>