<%= form_with model: [ @user, @user.posts.build ] do |form| %>
  <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption %>
  </p>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['公開', '非公開', 'アーカイブ'], selected: '公開' %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>