<header>
  <ul>

    <% if user_signed_in? %>

      <li><%= link_to "ユーザー 一覧", users_path %></li>
      <li><%= link_to "タイムライン", posts_path %></li>
      <li><%= link_to "部署 一覧", departments_path %></li>
      <li><%= link_to "出身地 一覧", birthplaces_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path,
                                  data: { turbo_method: :delete } %></li>
      <li><%= link_to "投稿", user_posts_path(current_user) %></li>
      <li><%= link_to "プロフィール", user_path(current_user) %></li>
      <li><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>

      <% if current_user.provider? %>
        <li><%= link_to "退会", edit_user_registration_path %></li>
      <% else %>
        <li><%= link_to "アカウント情報編集", edit_user_registration_path %></li>
      <% end %>

    <% else %>

      <li><%= link_to "ログイン", new_session_path(resource_name) %></li>
      <li><%= link_to "新規登録", new_registration_path(resource_name) %></li>

    <% end %>

  </ul>
</header>