<header>
  <ul>
    <li><%= link_to "ユーザー 一覧", users_path %></li>
    <li><%= link_to "タイムライン", posts_path %></li>
    <li><%= link_to "部署 一覧", departments_path %></li>
    <li><%= link_to "出身地 一覧", birthplaces_path %></li>

    <li><%= link_to "ログイン", new_user_session_path %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path,
                                data: { turbo_method: :delete } %></li>
  </ul>
</header>